@charset "UTF-8";
/* CSS Document  - validated */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: 'Marmelad', sans-serif;
}


#main{
	background-color: #eee;
	width: 100%;
	margin: 0 auto 0 auto;
	z-index: 1;
	position: relative; 
}

#grate{
	width: auto;
	margin: 0 auto;
	background-image: none;
	padding-bottom: 0;
	padding-top: 0;
}

#weld{
	display:none;
}

header{
	float: left;
}

h1{
	font-family: 'Marmelad', sans-serif;
	font-size: 40px;
	float: left;
	margin: 15px;
	text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
}

h1 a{
	outline: none;
	text-decoration: none;
	color:#603;
}

h2{
	font-family: 'Marmelad', sans-serif;
	font-size: 40px;
	float: left;
	margin: 15px 0;
	text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
	clear: both;
	margin-left: 15px;
}

h2 a{
	outline: none;
	text-decoration: none;
	color:#603;
}

nav{
	float: left;
	margin-left: 25px;
}

.fancyNav{
	display:none;
}

#thanks{
	text-align: center;
	font-size:1.2em;
}

#noWant{
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 10px;
	text-align: center;
}

#creditList ul{
	padding-top: 10px;
	padding-left: 30px;
}

#creditList li{
	list-style-type: circle;
	padding: 5px 10px 0 10px;
}
#contentCredits{
	clear: both;
	width: auto;
}

#contentCredits p{
	margin: 0 auto;
	padding: 5px 25px;
	font-size: 12px;
	line-height: 16px;
	text-indent: 15px;
	font-weight: 500;
}


footer {
	clear: both;
  	width: 150px;
	margin: 0 auto;
  	font-size: .8em;
  	font-family: 'Marmelad', sans-serif;
	text-align: center;
}

footer a:link{
	color: #000;
}


footer ul{
	list-style-type: none;
}

footer ul li{
	display: block;
	
}

footer a{
	text-decoration: none;
	color: #000;
	outline: none;
	display: block;
	width: 150px;
	height: 28px;
	background-color: #fff;
	border: thin solid #000;
	margin: 3px;
	padding-top: 10px;
}

.onstate{
	 color: #603;
	 font-weight: bold;
	 outline: none;
	display: block;
	width: 150px;
	height: 28px;
	background-color: #eee;
	border: thin solid #000;
	margin: 3px;
	padding-top: 10px;
 }

hr{
  display: none;
}

#ending{
	text-align: center;
	margin: 10px 20px 10px 20px;
}


#ending p{
	font-family:'Marmelad', sans-serif;
	font-size: .5em;
	padding-bottom: 5px;
	line-height: .85em;
}

#ending p a{
	text-decoration: none;
	color: #3c85c1;	
 }

#credits{
	outline: none;
	text-decoration: none;
	color: #000;
	font-size: .5em;
}

#sculp_metal, #drawings, #footer_sculp, #footer_draw{
	display: none;
}

#sculp_metal_mobile, #drawings_mobile, #footer_sculp_mobile, #footer_draw_mobile{
	display: block;
}