@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: 'Marmelad', sans-serif;
}

#grate{
	width: 768px;
	margin: 0 auto;
	background-image: url(../img/grate.jpg);
	padding-bottom: 50px;
	padding-top: 25px;
}

#main{
	background-color: #fff;
	width: 700px;
	margin: 0 auto 0 auto;
	z-index: 1;
	position: relative; 
}

header{
	float: left;
}

h1{
	font-family: 'Italianno', sans-serif;
	font-size: 60px;
	float: left;
	margin: 25px;
	text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
}

h1 a{
	outline: none;
	text-decoration: none;
	color:#603;
}

h2{
	font-family: 'Italianno', sans-serif;
	font-size: 60px;
	float: left;
	margin: 25px 0;
	text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
}

h2 a{
	outline: none;
	text-decoration: none;
	color:#603;
}

#weld{
	display:none;
}

nav{
	float: left;
	margin-left: 25px;
}

.fancyNav{
	/* Affects the UL element */
	overflow: hidden;
	display: inline-block;
	font-family: 'Marmelad', sans-serif;
	font-size: 1em;
}

.fancyNav li{
	background-color: #f0f0f0;
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	position:relative;
	float: left;
	list-style: none;
}

.fancyNav li:after{

	/* This creates a pseudo element inslide each LI */	
	
	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	opacity:0;
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
	border-radius: 4px 0 0 4px;
}

.fancyNav li:last-child{
	border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
	border-radius:0 4px 4px 0;
}


/* Styling the anchor elements */

.fancyNav li a{
	color: #5d5d5d;
	display: inline-block;
	font-family: 'Marmelad', sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
}

.fancyNav a.homeIcon{
	background:url('../img/home.png') no-repeat center center;
	display: block;
	overflow: hidden;
	padding-left: 12px;
	padding-right: 12px;
	text-indent: -9999px;
	width: 16px;
}

#contentIndex{
	clear: both;
	width: auto;
}

#contentIndex p{
	margin: 0 auto;
	padding: 5px 25px;
	font-size: 14px;
	line-height: 20px;
	text-indent: 25px;
	font-weight: 500;
}


footer {
	clear: both;
	display:inline;
  	width: 700px;
	margin: 0 auto;
  	font-size: .8em;
  	font-family: 'Marmelad', sans-serif;
	text-align: center;
}

footer a{
	text-decoration: none;
	color: #000;
}

footer a:link{
	color: #000;
}


footer ul{
	list-style-type: none;
}

footer ul li{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 150px;
}

footer a{
	outline: none;
}

.onstate{
	 color: #603;
	 font-weight: bold;
 }

hr{
  clear: both; 
  float: none; 
  width: 80%; 
  height: 1px;
}

#ending{
	text-align: center;
	padding-top: 10px;
}

#ending p{
	font-family:'Marmelad', sans-serif;
	font-size: .7em;
	padding-bottom: 5px;
	line-height: .85em;
}

#ending p a{
	text-decoration: none;
	color: #3c85c1;	
 }

#credits{
	outline: none;
	text-decoration: none;
	color: #000;
	font-size: .7em;
}

#sculp_metal, #drawings, #footer_sculp, #footer_draw{
	display: none;
}

#sculp_metal_mobile, #drawings_mobile, #footer_sculp_mobile, #footer_draw_mobile{
	display: inline-block;
}